= form_tag 'sessions' do
  .form-row
    = text_field_tag :email, params[:email], :placeholder => 'Email', :class => 'form-input', :size => '25'
  .form-row
    = password_field_tag :password, params[:password], :placeholder => 'Password', :class => 'form-input', :size => '25'
  .form-row
    %button{:type => "submit"}
      = image_tag("sky/key.png", :class => "button")
      Log in
