%h1 Calendar

- if current_user
  %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showPrint=0&showTz=0&height=600&wkst=1&bgcolor=%23cccccc&src=1j2bqkhmgp8q536s646iuounu8%40group.calendar.google.com&color=%23853104&src=ouon4b3aus0pmesfldctp88d7k%40group.calendar.google.com&color=%23853104&src=en.usa%23holiday%40group.v.calendar.google.com&color=%2329527A&ctz=America%2FLos_Angeles", :style => " border:solid 1px #777 ", :width => "600"}
  = link_to 'Create New Event', new_event_path

- else
  %iframe{:frameborder => "0", :height => "600", :scrolling => "no", :src => "https://www.google.com/calendar/embed?showTitle=0&showPrint=0&showTz=0&height=600&wkst=1&bgcolor=%23cccccc&src=ouon4b3aus0pmesfldctp88d7k%40group.calendar.google.com&color=%23853104&src=en.usa%23holiday%40group.v.calendar.google.com&color=%2329527A&ctz=America%2FLos_Angeles", :style => " border:solid 1px #777 ", :width => "600"}
