.stripe-form
  =form_tag '/donations', :id => 'payment-form' do
    .form-row
      =text_field_tag 'name', nil, :placeholder => 'Name of Donor', :class => 'form-input'
      /[if IE]
        %span Name of Donor
    .form-row
      =text_field_tag 'amount', nil, :placeholder => '$0.00', :class => 'form-input'
      /[if IE]
        %span Amount ($0.00)
    .form-row
      =text_field_tag 'company', nil, :placeholder => 'Company (optional)', :class => 'form-input'
      /[if IE]
        %span Company (optional)
    .form-row
      %select#stripe-description{:name => 'description'}
        %option Donation
        %option Corporate Sponsorship
        %option Recruiting Event Expenses
        %option Recruiting Event Donation
        %option Other
    .form-row
      %script.stripe-button{:src => "https://button.stripe.com/v1/button.js", "data-key" => @publishable_key}

%p#html5-warning
  Form not displaying properly? Try switching to an HTML5-compliant browser.

