%h1 Donations

%div#industry_nav
  - %w(information sponsors donate).each do |name|
    = link_to name.upcase, name, :id => "industry-#{name}", :class => 'industry-nav-link'

#donation-info
  %p
    Thank you for considering donating to IEEE! To continue, please click
    = link_to 'HERE', :action => 'new', :controller => 'donations'

