%h1 Donations

%div#industry_nav
  - %w(information sponsors donate).each do |name|
    = link_to name.upcase, name, :id => "industry_#{name}", :class => "industry_nav_link"
		
%p Coming soon!= javascript_include_tag "donate"

%form#payment-form{:action => "", :method => "POST"}
  .form-row
    .payment-errors
  .form-row
    %label Cardholder Name
    %input.card-name{:autocomplete => "off", :size => "20", :type => "text"}
  .form-row
    %label Card Number
    %input.card-number{:autocomplete => "off", :size => "20", :type => "text"}
  .form-row
    %label CVC
    %input.card-cvc{:autocomplete => "off", :size => "4", :type => "text"}
  .form-row
    %label Expiration (MM/YYYY)
    %input.card-expiry-month{:size => "2", :type => "text"}
    %span /
    %input.card-expiry-year{:size => "4", :type => "text"}
    %br
    %button.submit-button{:type => "submit"} Submit Payment

