%h1 Corporate Sponsors

%div#industry_nav
  - %w(information sponsors donate).each do |name|
    = link_to name.upcase, name, :id => "industry-#{name}", :class => 'industry-nav-link'

%p Coming soon!
